<!DOCTYPE html>
<html>
<head>
  <title>マイページ</title>
  <%= stylesheet_link_tag 'mypage' ,:media=>'screen' %>
  <%= stylesheet_link_tag '/assets/application' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'common/header' %>
<section>
   <%=render 'common/login_info' %>
   <%= render 'common/menu' %>
   <hr>
   <%= render 'common/sub_mypage_menu' %>
<%= yield %>
</section>
</body>
</html>
